@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .font1{
        font-weight: 400;
        font-family:  'Courier New', Courier, monospace;
    }
}

@layer components{
    .custom-shadow-white {
        -webkit-box-shadow: 0px 0px 2px 0px rgb(185, 183, 183);
        -moz-box-shadow: 0px 0px 2px 0px rgb(185, 183, 183);
        box-shadow: 0px 0px 2px 0px rgb(185, 183, 183);
    }
    
    .custom-shadow-darkb{
        -webkit-box-shadow: 0px 0px 2px -1px rgb(65, 65, 73);
        -moz-box-shadow: 0px 0px 2px -1px rgb(65, 65, 73);
        box-shadow: 0px 0px 2px -1px rgb(65, 65, 73);
    }

    .hide-scrollbar::-webkit-scrollbar{
        display: none;
    }

}